/*global styles*/

body {
    background-color: #f2f3f8;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.margin-bottom-50 {
    margin-bottom: 50px;
}

.margin-bottom-100 {
    margin-bottom: 100px;
}

.margin-top-50 {
    margin-top: 50px;
}

.margin-top-100 {
    margin-top: 100px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.form-control, .btn, .input-group-text {
    border-radius: 0;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

.form-wrapper {
    margin-top: 100px;
}

.button .a {
    cursor: pointer;
}

.places-button {
    margin-left: 40px;
}

.dropdown {
    width: 100%;
}

.m-card {
    background-color: #fff;
    box-shadow: 0px 1px 15px 1px rgba(69,65,78,0.08);
    padding: 15px;
    position: relative;
}

.m-card .m-card-header {
    position: absolute;
    top: -25px;
    left: 0;
    background: #ffffff;
    padding: 3px 15px;
    color: #333;
}

.btn.dropdown-toggle.btn-light {
    background-color: #ffffff;
    border: 1px solid #ced4da;
}


/*select*/

.country-select .filter-option-inner-inner img, .country-list-item img {
    margin-right: 10px;
    vertical-align: middle;
}

.country-select.show .select-placeholder {
    display: none;
}

/*form*/

.form-wrapper .form-inline > [class*="col-"] {
   margin: 10px 0;
}

.form-wrapper .form-inline > [class*="col-"] > * {
    width: 100%;
}